.app-shell-step2-task-text{
 	height:34px;
 	width:400px;
 	padding: 3px;
	border: 1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border-radius: 2px;
	padding-right: 30px;
	-moz-transition: padding .25s;
	-webkit-transition: padding .25s;
	-o-transition: padding .25s;
	transition: padding .25s;
}

.task-btn-add {
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
    cursor: pointer;
    color: #dddddd;
    background-color: #336aba;
    border: 1px solid #dddddd;
}

.task-btn-add:focus {
	outline: none;
}

.task-btn-add:active {
	color: #336aba;
    background-color: #ffffff;
    border: 2px solid #336aba;
    margin-left: -1px;
}

.task-btn-del {
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
    cursor: pointer;
    color: #FAFAFA;
    background-color: #e57373;
    border: 1px solid #dddddd;
}

.task-btn-del:focus {
	outline: none;
}

.task-btn-del:active {
	color: #336aba;
    background-color: #ffffff;
    border: 2px solid #e57373;
    margin-left: -1px;
}

.app-shell-img-question {
	width: 24px;
	height:24px;
	vertical-align: sub;
}
