/* wrapper */

#app-shell {
	min-height: 100%;
	/*min-width: 760px;*/
	/*max-width: 1000px;*/
	width: 80%;
	margin: 0 auto;
	background: white;
	float: right;
}

#app-shell-step-2,
#app-shell-step-3,
#app-shell-step-4,
#app-shell-step-5 {
	display: none;
}

/* header styles */

#app-shell-header {
	width: 100%;
	background: white;
	padding: 0px 40px;
    border-bottom: 1px solid #ddd;
}

#app-shell-header:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#app-shell-logo {
	/*width: 110px;*/
	width:100%;
	height: 125px;
	background: #336aba;
	float: left;
}

#app-shell-logo img {
	width: 84px;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}

#app-shell-titletext {
	padding: 15px 20px 10px 0px;
	float: left;
}

/* content styles */

#app-shell-content {
	width: 100%;
	padding: 40px;
}

/* discipline-list */

ul.discipline-list {
	padding-left: 25px;
}

ul.discipline-list li {
	color: #b5b5b5;
	font-size: 28px;
}

ul.discipline-list li span {
	color: black;
	font-size: 16px;
	vertical-align: middle;
}

span.item-description {
	color: #696969!important;
}

.discipline-box {
	width: 60%;
	vertical-align: top;
}

.disciplines {
	margin: 15px;
}

.table-scroll-wrapper {
	overflow-y: scroll;
	height: 150px;
}

.checkbox-td {
	width: 20px;
}

.select-discipline-description {
	color: grey;
	padding: 0px 0px 0px 15px;
}

.disciplines-open-btn, .disciplines-toggle-el, .form-control-btn, .next-btn, .prev-btn {
	padding: 10px 15px;
	border-radius: 7px;	
	cursor: pointer;
}

.next-btn, .prev-btn {
	border: none;
}

.next-btn:focus , .prev-btn:focus {
	outline: none;
}

.disciplines-open-btn, .next-btn, .prev-btn {
	color: white;
	background: #336aba;
}

.disciplines-toggle-el {
	background: #f3f3f3;
	border: 1px solid #e1e1e1;
	color: #666666;
}

.selected-disciplines {
	padding-left: 25px;
}

.input-arrow {
	width: 14px;
	height: 8px;
	background: url('../img/input-arrow.png') no-repeat;
	float: right;
    margin-top: 6px;
}

.discipline-box-opened {

}

.discipline-box-closed {
	-moz-transform: rotate(180deg); /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Для Opera */
    transform: rotate(180deg);
}

.textarea-form-control {
	background-color: #f3f3f3;
	border-radius: 7px;
	padding: 7px;
	resize: none;
}

.form-control-btn {
	color: white;
	background: #336aba;
	width:110px;
}

.question-btn {
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 21px;
    cursor: pointer;
    color: #dddddd;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.question-btn:focus {
	outline: none;
}

.question-btn:active {
	color: #336aba;
    background-color: #ffffff;
    border: 2px solid #336aba;
    margin-left: -1px;
}

.textarea-form-control:active {
	border-radius: 7px;
	padding: 7px;
	/*resize: none;*/
}

.textarea-form-control:focus {
	outline: none;
	box-shadow: 0 0 0 1.2px #1E88E5;
	background: white;
}

#app-shell-step-4-table {
	margin-top: 10px;
}

.final-table>thead {
	background-color: #336aba;
}

.final-table>thead>tr>td {
	color:white;
	padding: 5px;
}

.final-table>tbody>tr>td {
	border-right: 1px solid #e1e1e1;
	padding: 5px;
}

.final-table>tbody>tr:nth-child(odd) {
	background-color: #f3f3f3;
}

.app-shell-step2-task-text{
 	height:34px;
 	width:400px;
 	padding: 3px;
	border: 1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border-radius: 2px;
	padding-right: 30px;
	-moz-transition: padding .25s;
	-webkit-transition: padding .25s;
	-o-transition: padding .25s;
	transition: padding .25s;
}

.task-btn-add {
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
    cursor: pointer;
    color: #dddddd;
    background-color: #1E88E5;
    border: 1px solid #dddddd;
}

.task-btn-add:focus {
	outline: none;
}

.task-btn-add:active {
	color: #336aba;
    background-color: #ffffff;
    border: 2px solid #336aba;
    margin-left: -1px;
}

.task-btn-del {
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
    cursor: pointer;
    color: #FAFAFA;
    background-color: #e57373;
    border: 1px solid #dddddd;
}

.task-btn-del:focus {
	outline: none;
}

.task-btn-del:active {
	color: #336aba;
    background-color: #ffffff;
    border: 2px solid #e57373;
    margin-left: -1px;
}

#app-shell-progress{
	width: 100%;
	padding-left: 40px;
	padding-top: 35px;
	padding-right: 40px;
}

/*#app-shell-progress>ul>li{
	display: inline-block;
}*/

.app-shell-progress-ul li {
  background-color: #FFF176;
  /*border: 1px solid red;*/
  border-radius: 5px;
  display: inline;
  padding: 12px 40px 10px 40px;
  margin-right: 1px;
  width:auto;

}
.app-shell-progress-ul li>a {
  text-decoration: none;
}

.app-shell-progress-ul li::before, .app-shell-progress-ul li::after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: transparent;
  border-left-color: #fff;
  border-radius: 10px;
}

.app-shell-progress-ul li::before {
  border-width: 25px; 
  margin-top: -16px;
  margin-left: 86px;
}
.app-shell-progress-ul li::after {
    border-left-color: #FFF176;
    border-width: 23px;
    margin-top: -14.6px;
    margin-left: 34px;
    /* padding-left: 7px; */
    border-left-width: 25px;
}

.app-shell-progress-ul li.selected-step {
  background-color: #4FC3F7;
  color: #fff;
}

.app-shell-progress-ul li.selected-step::after {
  border-left-color: #4FC3F7;
}

.app-shell-progress-ul li.completed-step {
  background-color: #81C784;
  color: #fff;
}

.app-shell-progress-ul li.completed-step::after {
  border-left-color: #81C784;
}

.app-shell-progress-ul li:last-child::after {
  border-left-color: transparent;
}

.app-shell-img-question {
	width: 24px;
	height:24px;
	vertical-align: sub;
}
#app_vertical{
	background-color: rgb(247, 247, 247);
	padding: 10px 5px 20px 5px;
	min-height: 100%;
	width: 20%;
	float: left;
}

#app_vertical_menu{
	margin-top: 135px;
	padding:5px;
	width: 100%;
}
#app_vertical_menu>ul{
	width: 100%;
}
#app_vertical_menu>ul>li{
	font-size: 17px;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    padding-left: 30px;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
}
#app_vertical_menu>ul>li:first-child{
	border-top: 1px solid #ddd;
	font-weight: 600;
	
}

#app_vertical_menu>ul>li>a{
	text-decoration: none;
}
#app_vertical_menu>ul>li>a:link{
	color:#424242;
}
#app_vertical_menu>ul>li>a:visited{
	color:#424242;
}
#app_vertical_menu>ul>li>a:hover{
	color:#2196F3;
}

.app_vertical_menu_information{
	font-size: 11px;
	font-style: italic;
}