ul.discipline-list {
	padding-left: 25px;
}

ul.discipline-list li {
	color: #b5b5b5;
	font-size: 28px;
}

ul.discipline-list li span {
	color: black;
	font-size: 16px;
	vertical-align: middle;
}

span.item-description {
	color: #696969!important;
}

.discipline-box {
	width: 60%;
	vertical-align: top;
}

.disciplines {
	margin: 15px;
}

.table-scroll-wrapper {
	overflow-y: scroll;
	height: 150px;
}

.checkbox-td {
	width: 20px;
}

.select-discipline-description {
	color: grey;
	padding: 0px 0px 0px 15px;
}

.disciplines-toggle-el {
	padding: 10px 15px;
	border-radius: 7px;	
	cursor: pointer;
}

.discipline-box-opened {

}

.discipline-box-closed {
	-moz-transform: rotate(180deg); /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Для Opera */
    transform: rotate(180deg);
}

.disciplines-toggle-el {
	background: #f3f3f3;
	border: 1px solid #e1e1e1;
	color: #666666;
}

.selected-disciplines {
	padding-left: 25px;
}

.input-arrow {
	width: 14px;
	height: 8px;
	background: url('../img/input-arrow.png') no-repeat;
	float: right;
    margin-top: 6px;
}
